/* You can add global styles to this file, and also import other style files */
.tree {
  display: flex;
  justify-content: center;
}

html {
  background-color: bisque;
}

.titulo, h2 {
  display: flex;
  justify-content: center;
}
